@media only screen and (max-width: 1000px) {
  #inputs input {
    font-size: 1.5rem !important;
  }
}

#choices {
  margin: 2rem;
}

#choices button {
  margin: 2rem auto;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 3%;
  color: var(--btn-col);
  background-color: var(--btn-bg);

}

#choices button:hover {
  cursor: pointer;
  background-color: var(--btn-hov-bg);
}

#form {
  display: flex;
  flex-flow: column nowrap;
  margin: 1em 1em;
}

#inputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#inputs label {
  margin: auto;
  padding: 1em;
  display: block;
  font-size: medium;
}

#inputs input {
  padding: 1em;
  border: solid slategray 3px;
  font-weight: 400;
  border-radius: 3px;
  -webkit-appearance: none; /* for box shadows to show on iOS */
  display: block;
  font-size: large;
  max-width: 100%;
  text-align: center; /* google chrome overrides main's default with 'start' otherwise */
  background-color: var(--input-bg);
}

#inputs input :focus {
  border: solid darkgrey 1px;
}

#inputs .chosen {
  border: solid lightgreen 1px;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: var(--input-chosen-bg);
  color: var(--input-chosen-col)
}

#inputs .nonchosen {
  border: solid darkred 1px;
  padding: 0.6em;
  font-size: 1rem;
  background-color: var(--input-nonchosen-bg);
  color: var(--input-nonchosen-col);
}

.source a:hover {
  background-color: transparent;
}